html{height: 100%;width: 100%;}
body{
    height: 100%;
    width: 100%;
    background-image: url('../source/img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: SourceHanSansCN-Regular;
    cursor: default;
    overflow: hidden;
}

.banner {
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 1);
    width: 100%;
    height: 4.25rem;
    color: #1B1B1B;
    box-shadow: 0px 0px 3px 3px #1B1B1B;
}

.banner span {
    font-size: 2rem;
    font-family: HYShangWeiShouShuW-Regular;
    font-weight: 400;
    margin: 1.58vh 0 1.58vh 1.75vw;
    color: #C8A06A;
}

.img{
    position: relative;
    top: 120px;
    left: 10%;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.img img{width: 100%;}

.ask-menu{
    position: relative;
    top: -11%;
    left: 24%;
    width: 300px;
    height: 420px;
    display: none;
}

.ask-menu-start{
    position: relative;
    top: -11%;
    left: 24%;
    width: 350px;
    height: 500px;
}

.ask{
    position: absolute;
    width: 100%;
    height: 100%;
}

.ask-start{
    position: absolute;
    width: 100%;
    height: 100%;
}

.photo{
    position: absolute;
    width: 80%;
    height: 75%;
    top: 4%;
    left:15%;
    display: flex;
    flex-direction: column;
}

.photo img{height: 90%;width: 100%;object-fit: contain;}
.photo p{margin: 0;font-size: 25px;height: 10%;text-align: center;}

.button {
    width: 25%;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

.yes{
    left: 20%;
    top: 25%;
}

.no{
    left: 65%;
    top: 25%;
}

.text{
    position: absolute;
    width: 80%;
    height: 20%;
    top: 3%;
    left:14%;
    display: flex;
    flex-direction: column;
}

.text p{margin: 0;font-size: 30px;height: 10%;text-align: center;}

.again{
    top: 82%;
    width: 80%;
    font-size: 25px;
    left: 15%;
    background-color: #c8a06a;
    color: #FFFFFF;
}

.information{
    position: absolute;
    top: 20%;
    left: 70%;
    width: 20%;
    height: 70%;
    background-color: #414141;
    border-radius: 5%;
}

.information h2{margin: 5% 0 0 5%;}
.information p{margin: 2% 0 0 5%;}

@font-face {
    font-family: "HYShangWeiShouShuW-Regular";
    src: url(../source/font/HYShangWeiShouShuW.ttf);
}

@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url(../source/font/SourceHanSansCN-1.000/SourceHanSansCN-Regular.otf);
}