@media screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 8px;
    }
}

body {
    font-family: "SourceHanSansCN-Regular";
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    user-select: none;
}

@font-face {
    font-family: "HYShangWeiShouShuW-Regular";
    src: url(../source/font/HYShangWeiShouShuW.ttf);
}

@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url(../source/font/SourceHanSansCN-1.000/SourceHanSansCN-Regular.otf);
}

::-webkit-scrollbar {
    display: none;
}

.container {
    background-color: rgba(27, 27, 27, 1);
    height: 1000vh;
    width: 100vw;
}

.container .sidebar {
    position: fixed;
    z-index: 999;
    right: 2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .sidebar .side {
    margin: 1vh;
    width: 1.1vw;
    height: 1.1vw;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 1;
}

.container .sidebar .side.colored {
    transition: all 1s;
    background: #C8A06A;
}


/* 第一屏 */
/* 18.25 * 8.84 */
.container .screen {
    height: 100vh;
    width: 100vw;
}

.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .screen.s1 .wrapper {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .screen.s1 .wrapper .bigger {
    font-family: HYShangWeiShouShuW-Regular;
    color: rgba(200, 160, 106, 1);
    font-size: 6rem;
}

.container .screen.s1 .wrapper .smaller {
    font-family: HYShangWeiShouShuW-Regular;
    color: rgba(255, 255, 255, 1);
    font-size: 4.5rem;
}

/* 第二屏 */


.banner {
    z-index: 10;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 1);
    transition: all 0.5s;
    opacity: 1;
    width: 100vw;
    height: 8vh;
    color: #1B1B1B;
}

.banner .span {
    height: 4.75vh;
    font-size: 2rem;
    font-family: HYShangWeiShouShuW-Regular;
    font-weight: 400;
    margin: 1.58vh 0 1.58vh 1.75vw;
    color: #C8A06A;
    opacity: 1;
}

.span.hidden {
    margin: 1.58vh 0 0 0;
    opacity: 0;
    transition: all 0.5s;
}

.container .screen.s2 {
    height: 300vh;
    position: relative;
    background-color: rgba(27, 27, 27, 1);
}

.container .screen.s2 .wrapper {
    background-color: rgba(27, 27, 27, 1);
    position: absolute;
    z-index: 0;
    top: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container .screen.s2 .wrapper .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease-out 0.5s;
}

.container .screen.s2 .wrapper .content-wrapper .head {
    text-align: center;
    font-size: 6.25rem;
    font-family: HYShangWeiShouShuW-Regular;
    font-weight: 400;
    color: #C8A06A;
    opacity: 1;
    margin-bottom: 2.5vh;
}

.container .screen.s2 .wrapper .content-wrapper .content {
    display: flex;
    width: 28.5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .screen.s2 .wrapper .content-wrapper .content .span {
    font-size: 2.25rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 5rem;
    color: #FFFFFF;
}

.container .screen.s2 .wrapper .content-wrapper .content .span .colored {
    display: inline;
    color: #C8A06A;
}

.container .screen.s2 .wrapper .skew {
    width: 26.5vw;
    height: 113vh;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    transition: transform 500ms;
    align-items: center;
}

.container .screen.s2 .wrapper .skew .line {
    width: 0.22vw;
    height: 101vh;
    background-color: #fff;
    transform: rotate(25deg);
    transition: transform 500ms;
}

.container .screen.s2 .wrapper .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.6vh auto;
    cursor: pointer;
}

.container .screen.s2 .wrapper .btn svg {
    width: 11.4375rem;
    height: 3.5rem;
}

.swiper-container,
.mask {
    display: none;
    width: 80vw;
    height: 116vh;
    transform: skew(-20deg);
    transform-origin: bottom left;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.mask {
    z-index: 10;
    background-color: transparent;
    padding: 5rem;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 0;
    box-sizing: border-box;
    transform: translate(16%, -8%);
    height: 100vh;
}

.mask h1 {
    font-size: 5rem;
    margin-bottom: 0;
    font-family: "HYShangWeiShouShuW-Regular";
}

.mask h1,
.mask h3 {
    width: 100%;
    display: inline-flex;
    text-shadow: 2px 2px 4px #121212;
}

.mask h3 {
    padding-right: 50%;
    white-space: normal;
}

.swiper-btn {
    width: 12.5rem;
    height: 3.125rem;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 1.125rem;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
}

.skew-fix {
    transform: skew(20deg);
    transform-origin: bottom left;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    overflow: hidden;
    width: 40%;
    transition: width ease-out 0.5s, filter ease-out 0.5s;
}

.swiper-slide img {
    outline: none;
    height: 100vh;
    position: relative;
    left: -20%;
}

.swiper-slide-prev {
    width: 7% !important;
    filter: brightness(0.4);
}

.swiper-slide-active {
    width: 14% !important;
    filter: brightness(0.6);
}

.swiper-slide-next {
    width: 79% !important;
    filter: brightness(1.1);
}

/* 第二屏（比赛视频页面） */

.container .screen.s2 .video-section {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    /* transition: all 0.1s; */
    z-index: inherit;
    height: 146vh;
    width: 126vw;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0.5%);
}

.video-section img {
    /* transform: all 0.1s; */
    position: absolute;
    transform: translate(0%, 10%);
    z-index: 100;
    height: 146vh;
    width: 126vw;
    overflow: hidden;
    /* box-shadow: 40px 40px 40px 40px rgba(27, 27, 27, 1); */
}

.filter {
    transform: translate(0%, 3%);
    width: 41.1vw;
    height: 62vh;
    background: rgba(200, 160, 106, 0.15);
    filter: blur(30px);
    border-radius: 50%;
    opacity: 0.6;
}

.sider {
    opacity: 0;
    width: 13.2rem;
    height: 11.4375rem;
}

.sd1 {
    position: absolute;
    top: 210vh;
    left: 12.8vw;
    transition: all 1s;
    /* transition-delay: s; */
}

.sd2 {
    position: absolute;
    top: calc(210vh + 28.6vh);
    left: 7.9vw;
    transition: all 1s;
    transition-delay: 0.5s;
}

.sd3 {
    position: absolute;
    top: calc(210vh + 57.2vh);
    left: 12vw;
    transition: all 1s;
    transition-delay: 1s;
}

.sd4 {
    position: absolute;
    top: calc(210vh);
    right: 12.8vw;
    transition: all 1s;
}

.sd5 {
    position: absolute;
    top: calc(210vh + 28.6vh);
    right: 7.9vw;
    transition: all 1s;
    transition-delay: 0.5s;
}

.sd6 {
    position: absolute;
    top: calc(210vh + 57.2vh);
    right: 12vw;
    transition: all 1s;
    transition-delay: 1s;
}

.screen.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen.s3 .wrapper {
    display: flex;
    width: 55vw;
    justify-content: space-between;
    align-items: center;
}

.screen.s3 .wrapper svg {
    opacity: 0;
    transition: all 2s;
    width: 20.625rem;
    height: 19.875rem;
}

iframe {
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 1);
    /* backdrop-filter: blur(10px); */
    font-family: "SourceHanSansCN-Regular";
}